.root {
  background-color: var(--seconday-light);
  padding: 3rem 0;
}

.root h2 {
  color: var(--primary-base);
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.testimonial-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.testimonial-name {
  font-weight: var(--font-primary-weight-bold);
}

.testimonial-quote {
  color: var(--primary-base);
}
