.root {
  padding: 2rem 0;
}

.root > :global(.container) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-description {
  font-weight: var(--font-primary-weight-regular);
  font-size: var(--font-size-md);
  color: var(--primary-base);
}

.about-img-wrapper > img {
  border-radius: var(--border-radius-base);
  overflow: hidden;
}

.about-img-top {
  display: none;
}

.about-box > header {
  margin-bottom: 1rem;
}

@media (min-width: 360px) {
  .root > :global(.container) {
    flex-direction: row;
    align-items: start;
  }

  .root > :global(.container) > div {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .root {
    min-height: 540px;
  }

  .about-description {
    width: 75%;
  }

  .about-img-wrapper {
    position: relative;
  }

  .about-img-top,
  .about-img-bottom {
    display: block;
    position: absolute;
    width: 70%;
  }

  .about-img-top {
    z-index: 1;
    top: 0;
    right: 0;
  }

  .about-img-bottom {
    z-index: -1;
    top: 120px;
  }
}
