.root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--secondary-error);
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);
  color: var(--secondary-light);
}

.root svg {
  fill: var(--secondary-light);
}
