#root {
  max-width: 1280px;
  margin: 0 auto;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

#header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** specials */
.special-wrap-img > img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }

  #footer > .container {
    display: flex;
    align-items: center
  }

  .footer-content {
    flex: 1;
  }

  #hero > .container {
    display: flex;
    align-items: center;
  }

  #about > .container {
    display: flex;
    align-items: center;
  }
}