:root {
  --primary-highlight: #F4CE14;
  --primary-base: #495E57;
  --secondary-warm: #EE9972;
  --seconday-warm-light: #FBDABB;
  --seconday-light: #EDEFEE;
  --seconday-dark: #333333;
}

#root {
  margin: 0 auto;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 500;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 64px;
}

button {
  border: none;
  background-color: var(--primary-highlight);
  color: var(--primary-base);
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.8rem 1.5rem;
  border-radius: 16px;
}

button:hover {
  background-color: var(--secondary-warm);
  border: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

#header {
  padding: 2rem 0;
}

#header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav a {
  font-weight: 800;
  color: var(--seconday-dark);
}

#header nav a:hover {
  color: var(--primary-highlight);
  text-decoration: underline;
}

/** hero section */
#hero {
  background-color: var(--primary-base);
  padding: 0.5rem 0;
}

#hero > .container {
  position: relative;
}

#hero > .container > div {
  flex: 1;
  
} 
.hero-content {
  width: 320px;
}

.hero-content p {
  color: var(--seconday-light);
  font-size: 18px;
  max-width: 320px;
}

.hero-content button {
  margin-top: 2rem;
}

#hero h1 {
  color: var(--primary-highlight);
  line-height: 2rem;
  margin-top: 1.5rem;
}

#hero h2 {
  color: var(--seconday-light);
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
}

.hero-img-wrapper {
  overflow: hidden;
  border-radius: 16px;
  height: 200px;
  margin-top: 2rem;
}

.hero-img-wrapper > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/** specials */
.special-wrap-img > img {
  max-width: 100%;
}


@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }

  #footer > .container {
    display: flex;
    align-items: center
  }

  .footer-content {
    flex: 1;
  }

  #about > .container {
    display: flex;
    align-items: center;
  }

  #header nav ul {
    display: flex;
    gap: 2rem;
  }

  #hero {
    padding: 1rem 0;
  }

  #hero > .container {
    display: flex;
    align-items: center;
    height: 320px;
  }

  .hero-img-wrapper {
    width: 550px;
    height: 380px;
    margin-top: 6rem;
  }
}